html, body {
  height: 100vh;
  font-size: 40px;
  margin: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: italic;
}

.dsx-bg {
  background-color: #3b27ba;
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 1px, transparent 8px),
  radial-gradient(white, rgba(255,255,255,.15) 0.5px, transparent 2px),
  radial-gradient(white, rgba(255,255,255,.1) 1px, transparent 4px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 4px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.dsx-message {
  text-align: center;
  flex-basis: 100%;
}

.dsx-coming-soon {
  font-size: 80%;
  font-size: 0.8rem;
  color: white;
  fill: white;
}

.dsx-skull {
  width: 400px;
}

.dsx-x-wm {
  max-width: 42px;
  max-width: 2vw;
  position: fixed;
  right: 8px;
  bottom: 8px;
}

.dsx-insta-icon {
  max-width: 42px;
  max-width: 2vw;
  position: fixed;
  right: 56px;
  bottom: 8px;
}
